
  
  .chart-container {
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    place-self: center;
    background-color: #e3f2fd;
    border-color: #90caf9;
    width: 90%;
    backdrop-filter: blur(10px);
    text-align: center;
  }
  
  .chart-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .recharts-tooltip-wrapper {
    border-radius: 8px !important;
    background: rgba(255, 255, 255, 0.95) !important;
    padding: 10px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) !important;
  }
  
  .recharts-tooltip-label {
    font-weight: bold;
    color: #4CAF50;
  }
  
  .recharts-cartesian-grid line {
    stroke: rgba(0, 0, 0, 0.2);
  }
  